@media (max-width: 480px) {  
.container{
	padding-left:10px;
	padding-right:10px;
}
.center{
	text-align: center;
}
.right{
	text-align: center;
}
.navbar-header{
	display:block;
}
.hei-menu{
    	padding-left:0px;
}

.add-info-mid {
  background-color: #ffffff;
  margin-right: 12px;
  margin-left: 12px;
}
.question-right {
  padding-top: 0px;
  padding-left: 78px;
}
.learn-content {
  margin-left: 60px;
}
.none-padd {
  margin-bottom: 30px;
}
.form-horizontal{
	margin-left: 10px;
	margin-right: 0px;
}
.pad-l-50{
	padding-left:55px;
	padding-top:10px;
}
.pad-l-40{
	padding-left:40px;
	padding-top:10px;
}
.mar-r-1{
	margin-right: -1px;
}
.add-info{
	max-width:97%;
}
.add-info-mid{
	margin-left:0px;
	margin-right:0px;
}
.add-info-none{
	max-width:97%;
}
.question-right{
	padding-left:21px;
	text-align: justify;
}
.mar-t-150{
	margin-top:50px;
}

.format-stand {
	max-width: 75%;
    left: 50%;
    right:0px;
    text-shadow: none;
	padding-bottom: 3px;
	font-size: 5px;
	h4{
		font-size: 7px;
	}
	p{
		color: #000000;
		margin-bottom:7px;
	}
	a{
		background-color: #383334;
		padding: 2px 3px;
	}
}




.learn-content {
    margin-left: 0px;
    padding-left: 0px;
    max-width: 600px;
    padding-bottom: 30px;
    padding-top: 50px;
}

.a-register{
	text-align: center;
	a{
		margin-left: 0px;
	}
}
.footer-top{
	.txt-cent{
		padding-left:73px;
	}
	.pad-t-70{
		padding-top:50px;
	}
} 

}

@media (max-device-width: 480px) {
.add-info-mid {
  background-color: #ffffff;
  margin-right: 12px;
  margin-left: 12px;
}
.question-right {
  padding-top: 0px;
  padding-left: 78px;
}
.learn-content {
  margin-left: 60px;
}
.none-padd {
  margin-bottom: 30px;
}
.add-info-mid{
	margin-left:0px;
	margin-right:0px;
}
.question-right{
	padding-left:19px;
	text-align: justify;
}
 
.dis-hide{
	display: none;
}
.a-register{
	h2 {
		font-size:30px;
	}
}
 
.regis-red{
	font-size: 27px; 
 }
 .regis-red:hover{
		color: #ffffff;
	}
.format-stand {
	max-width: 41%;
    left: 10%;
    right:0px;
    text-shadow: none;
	font-size: 5px;
	h4{
		font-size: 7px;
	}
	p{
		color: #000000;
		margin-bottom:7px;
	}
	a{
		background-color: #383334;
		padding: 2px 3px;
	}
}
.regis {
	font-size:30px;
}
.regis-red{
	margin:0px;
	min-width: 267px;
}

.learn-content {
    margin-left: 0px;
    padding-left: 0px;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 50px;
}

.a-register{
	text-align: center;
	a{
		margin-left: 0px;
		padding: 15px 19px;
		font-size: 27px;
	}
}
.learn-content{
	.right {
	    padding-right: 0px;
	    text-align: center;
	    img{
	    	margin-right:0px;
	    }
	}
}
.h2-red {
	font-size:27px;
}
.learn-content{
	.right {
	    padding-right: 25px;
	    text-align: center;
	}
}
.footer-top{
	padding:0px;
	.txt-cent{
		padding-left:73px;
	}
	.padd-cent{
		padding-left: 57px;
	}
	.img-right{
			margin-left: 0px;
		}
	.pad-t-70{
		padding-top:50px;
	}
} 
   
    
}