@media (min-width: 768px){

    
}

@media (min-width: 768px) and (max-width: 991px){
.hei-menu{
    	font-size:13px;
}
.navbar-nav > li:not(:last-child) {
    margin-right: 0px;
}

.mar-t-150 {
    margin-top: 70px;
}
.question-right {
    padding-left: 37px;
    padding-top: 17px;
}

.learn-content {
    margin-left: 80px;
    max-width: 537px;
}
	
.format-stand{
	padding-bottom:0px;
	left: 55%;
	h4{
		font-size:17px;
	}
	p{
		font-size:13px;
	}
	a{
		font-size:13px;
		
	}
}
.add-info {
    min-height: 200px;
}
.add-info-mid {
    margin-left: 12px;
    margin-right: 13px;
}
.add-info-none{
	 min-height: 200px;
}
    
.body-red {
    margin-bottom: 5px;
    min-height: 161px;
    padding: 38px 30px;
}
}

@media screen and (min-width: 768px){
    
}